<!-- <div class="login-status-header"> -->
<div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    Welcome back {{ userFullName }}
</div>

<button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn" id="login">Login</button>
<button *ngIf="isAuthenticated" (click)="logout()" class="security-btn" id="logout">Logout</button>

<button *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1" id="member">Member</button>

<button *ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1" id="order-history">Orders</button>
<!-- </div> -->