footer {
  background: #646464;
  background-color: #646464;
  opacity: 1;
  z-index: 1;
  position: relative;
  text-align: center;
  bottom: 1;
}

a {
  text-decoration: none;
}

a:hover {
  color: #b4a340;
}
