<div class="main-content">
    <div class="container-fluid intro" id="about">
        <h1 class="chain">NikRik's Batangas Lomi atbp.</h1>
        <p class="text-intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
            a galley of type and scrambled it to make a type specimen book. It has survived not only five
            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <img src="assets/images/nikriks-menu.jpg">
    </div>

    <div class="container-fluid intro">

        <div class="center">
            <h2>Party Trays</h2>

            <div class="row">
                <div class="column">
                    <img src="assets/images/products-showcase/1.jpg" alt="Snow" style="width:100%">
                </div>
                <div class="column">
                    <img src="assets/images/products-showcase/2.jpg" alt="Forest" style="width:100%">
                </div>
                <div class="column">
                    <img src="assets/images/products-showcase/3.jpg" alt="Mountains" style="width:100%">
                </div>
            </div>
        </div>

    </div>


</div>