<div class="main-content">
    <div class="container-fluid intro" id="about">
        <h1 class="chain">NikRik's Batangas Lomi atbp.</h1>
        <p class="text-intro">NikRik’s Batangas Lomi atbp., is a startup food business located in Pasay City offering
            short orders and party trays for their customers such as Specials (lomi, miki guisado, and pansit), A La
            Carte (crispy pork sisig, creamy tofu, lechon kawali, etc.), Extras (toppings, rice, egg fried rice) and
            Rice Meals (pork sisig with rice).</p>
        <img src="assets/images/nikriks-menu.jpg">
    </div>

    <div class="container-fluid intro">

        <div class="center">
            <h2>Party Trays</h2>

            <div class="row">
                <div class="column">
                    <img src="assets/images/products-showcase/1.jpg" alt="party-tray-food-1" style="width:100%">
                </div>
                <div class="column">
                    <img src="assets/images/products-showcase/2.jpg" alt="party-tray-food-2" style="width:100%">
                </div>
                <div class="column">
                    <img src="assets/images/products-showcase/3.jpg" alt="party-tray-food-2" style="width:100%">
                </div>
            </div>
        </div>

    </div>
</div>