<div class="main-content">

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1320px" id="home">
        <img class="w3-image" src="/assets/images/products-showcase/nikriks-hero-image.gif"
            alt="NikRik's Batangas Lomi">
    </header>
    <div class="container">
        <!-- Page content -->
        <div class="w3-content" style="max-width:1000px">

            <!-- About Section -->
            <h1 class="w3-center">About NikRik's Batangas Lomi</h1><br>
            <h5 class="w3-center">Your source of Batangas Lomi in the city since 2019</h5>
            <p class="w3-large w3-text-grey w3-hide-medium">
                NikRik’s Batangas Lomi atbp. is a food business founded in November 2019 by owners Mrs.
                Jen and Mr. Patrick Lakay. At the start, their food business was only catering to walk-in customers in
                Pasay City until their food offerings and popularity reached other areas of Manila like Alabang, Taguig,
                and Makati City.

            <p class="w3-large">
                We offer <strong>Specials</strong> (lomi, miki guisado, and pansit), <strong>A La Carte</strong> (crispy
                pork sisig, creamy tofu, lechon
                kawali,
                etc.), <strong>Extras</strong> (toppings, rice, egg fried rice) and <strong>Rice Meals</strong> (pork
                sisig with rice).
            </p>

        </div>

        <hr>

        <!-- Menu Section -->

        <div class="w3-row" id="menu">
            <h1 class="w3-center">Our Menu</h1>
            <div class="w3-col l6 w3-padding-large">
                <img src="/assets/images/menu/menu-1.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
                    style="width:100%">
            </div>
            <div class="w3-col l6 w3-padding-large">
                <img src="/assets/images/menu/menu-2.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
                    style="width:100%">
            </div>
            <div class="w3-col l6 w3-padding-large">
                <img src="/assets/images/menu/menu-3.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
                    style="width:100%">
            </div>
            <div class="w3-col l6 w3-padding-large">
                <img src="/assets/images/menu/menu-4.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
                    style="width:100%">
            </div>
        </div>
    </div>
</div>