<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Order Management</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered">
                    <tr>
                        <th width="10">Customer Name</th>
                        <th width="10">Email Address</th>
                        <th width="10">Order Tracking Number</th>
                        <th width="10">Total Price</th>
                        <th width="10">Total Quantity</th>
                        <th width="10">Order Date</th>
                        <th width="10">Delivery Date</th>
                        <th width="10">Payment Status</th>
                        <th width="10">Order Status</th>
                    </tr>

                    <tr *ngFor="let tempOrderHistory of orderHistoryList">

                        <td>
                            {{ tempOrderHistory.customer['firstName'] }} {{ tempOrderHistory.customer['lastName'] }}
                        </td>
                        <td>
                            {{ tempOrderHistory.customer['email'] }}
                        </td>
                        <td>
                            {{ tempOrderHistory.orderTrackingNumber }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalPrice | currency: 'PHP' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.totalQuantity }}
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>
                        <td>
                            {{ tempOrderHistory.dateCreated | date: 'medium' }}
                        </td>
                        <td>
                            Paid
                        </td>
                        <td>
                            Preparing
                        </td>
                    </tr>
                </table>
            </div>


            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>


</div>