<table mat-table class="mat-elevation-z8">

    <ng-container *ngFor ="let tempProduct of products">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ tempProduct.name }} </td>
      </ng-container>

    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let tempProduct of products">
            <td>{{ tempProduct.name }}</td>
            <td>{{ tempProduct.unitPrice | currency:'PHP'}}</td>
            <td>{{ tempProduct.unitsInStock }}</td>
        </tr>
    </tbody>
</table>