.btn-primary {
  color: #fff;
  background-color: #646464;
  border-color: #646464;
}

table.table.table-bordered th {
  background: #646464;
  font-size: 14px;
  padding: 7px;
}

.table-bordered tr {
  border-color: #dee2e6;
}
